{% extends "template.html" %}

{% block header %}
  <!-- <script src="http://d3js.org/d3.v5.min.js"></script> -->
{% endblock %}

{% block body %}

  <!-- <button id="state">Show Bubble</button> -->
  <br><br>
  <h1 style="text-align: center">{{ title }}</h1>
  <div id="statemap"></div>
  <div id="worldmap"></div>
  <script src="https://unpkg.com/topojson-client@3"></script>
  {% if title == "New Deaths in the World" %}
    <script type="text/javascript">
      var worldgraphdata = {{ world|tojson }}
      var world = {{ worldjson|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/worldmap.js')}}"></script>
  {% elif title == "New Deaths in the US"%}
    <script type="text/javascript">
      var stategraphdata = {{ counties|tojson }}
      var us = {{ countyjson|tojson }}
    </script>
    <script src="{{ url_for('static', filename='js/usmap.js')}}"></script>
  {% endif %}

  <script src="http://d3js.org/d3.v5.min.js"></script>
{% endblock %}
