<!DOCTYPE html>
<html>
  <head  style="background-color: #EAE7DC; color:#E85A4F">
    <meta charset="utf-8">
    <script src="http://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Virographs: COVID19 Data Visualizations</title>
    <a href="/">
      <img src="../static/logo.png" height="200px" alt="Virographs" style="display:block; margin-left: auto;margin-right:auto;"></img>
    </a>
    <nav class="navbar navbar-expand-lg" style="background-color: #D8C3A5;">
      <a class="navbar-brand" href="/">
        <img src="../static/corona.png" height="50" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="color: #FC766AFF">
          <a class="nav-item nav-link" style="font-size: 125%; color: #184A45FF" href="/">Global Data</a>
          <a class="nav-item nav-link" style="font-size: 125%; color: #184A45FF"href="/simulation">Simulation</a>
          <a class="nav-item nav-link" style="font-size: 125%; color: #184A45FF"href="/maps">Maps</a>
        </div>
      </div>
    </nav>
    </nav>
    {% block header %}
    {% endblock %}
  </head>
  <body  style="background-color: #EAE7DC; color:#E85A4F">
    {% block body %}
    {% endblock %}
  </body>

  <div id="footer">
    &copy; Team MarshmallowFlush: Elizabeth Doss, Kiran Vuksanaj, Amanda Chen, Lauren Pehlivanian
  </div>
</html>
